/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 16, 2025, 6:34:02 PM
    Author     : Aruna
*/

body {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

img {
    margin-bottom: 15px;
    max-width: 150px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}